@import "partials/_normalize";

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.8);
  background-color: #F7F8F8;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}


a {
  text-decoration: none;
  color: inherit;
  transition: all .35s ease;
  background-color: rgba(0,0,0,0);
}

p {
  line-height: 1.5;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;

  @media screen and (max-width: 768px) {
    font-size: 36px;
    margin-bottom: 12px;
  }
}

.subtitle {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 24px 0;
  line-height: 1;


  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.social-media-links {
  font-size: 28px;

  + .social-media-links {
    margin-left: 28px;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;

    + .social-media-links {
      margin-left: 16px;
    }
  }
}
